<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.admin.common.mapper.BaseUserLoginMapper">

    <!-- 通过 email获取 BaseUserLoginDO -->
    <select id="getByEmail" resultType="com.admin.common.model.entity.BaseUserLoginDO">
        SELECT a.user_id,
        a.`password`
        FROM sys_user_login a
        LEFT JOIN sys_user_security b ON b.user_id = a.user_id
        WHERE b.del_flag = FALSE
        <if test="email != null and email != ''">
            AND a.email = #{email}
        </if>
    </select>

</mapper>
