<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cmc.common.mapper.BaseUserMapper">

    <!-- 通过 userId 获取：用户权限 -->
    <select id="getAuthsByUserId" resultType="java.lang.String">
        SELECT d.auths
        FROM sys_user_security a
                 LEFT JOIN sys_role_ref_user b ON b.user_id = a.user_id
                 LEFT JOIN sys_role_ref_menu c ON c.role_id = b.role_id
                 LEFT JOIN sys_menu d ON d.id = c.menu_id
        WHERE a.user_id = #{userId}
          AND a.enable_flag = TRUE
          AND d.enable_flag = TRUE
          AND d.auths != ''
    </select>

</mapper>
