<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cmc.common.mapper.BaseMenuMapper">

    <!-- 通过 menuIdSet，获取 userIdSet -->
    <select id="getUserIdSetByMenuIdSet" resultType="java.lang.Long">
        SELECT b.user_id
        FROM sys_role_ref_menu a
        LEFT JOIN sys_role_ref_user b ON b.role_id = a.role_id
        WHERE a.menu_id IN
        <foreach collection="menuIdSet" separator="," open="(" close=")" item="item">
            #{item}
        </foreach>
    </select>

    <!-- 判断默认角色是否包含了 菜单 idSet -->
    <select id="checkDefaultRoleHasMenu" resultType="java.lang.Boolean">
        SELECT IF
        (COUNT(1) > 0, 1, 0)
        FROM sys_role a
        LEFT JOIN sys_role_ref_menu b ON b.role_id = a.id
        WHERE a.default_flag = TRUE
        AND a.del_flag = FALSE
        AND a.enable_flag = TRUE
        AND b.menu_id IN
        <foreach collection="menuIdSet" separator="," open="(" close=")" item="item">
            #{item}
        </foreach>
    </select>

</mapper>
