<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.admin.system.mapper.SystemAnalyzeMapper">

    <!-- 活跃人数分析 -->
    <select id="activeUser" resultType="com.admin.system.model.vo.SystemAnalyzeActiveUserVO">
        SELECT (
                   SELECT COUNT(DISTINCT a.create_id)
                   FROM sys_request a
                   WHERE TO_DAYS(
                                 CURDATE()) - TO_DAYS(a.create_time) = 1
                     AND a.create_id != - 1
               ) AS yesterdayTotal,
               (
                   SELECT ROUND(AVG(a.total), 2)
                   FROM (
                            SELECT COUNT(DISTINCT a.create_id) AS total
                            FROM sys_request a
                            WHERE a.create_id != - 1
                            GROUP BY DATE_FORMAT(a.create_time, '%Y%m%d')) a
               ) AS dailyTotal
    </select>

    <!-- 活跃人数走势 -->
    <select id="activeUserTrend" resultType="com.admin.system.model.vo.SystemAnalyzeActiveUserTrendVO">
        SELECT DATE_FORMAT(a.create_time, '%Y-%m') AS monthStr,
               COUNT(DISTINCT a.create_id)         AS total
        FROM sys_request a
        WHERE a.create_id != - 1
          AND PERIOD_DIFF(
                      DATE_FORMAT(CURDATE(), '%Y%m'),
                      DATE_FORMAT(a.create_time, '%Y%m')) &lt;= 7
        GROUP BY DATE_FORMAT(a.create_time, '%Y%m')
    </select>

    <!-- 用户分析 -->
    <select id="user" resultType="com.admin.system.model.vo.SystemAnalyzeUserVO">
        SELECT (
                   SELECT COUNT(1)
                   FROM sys_user a
                   WHERE TO_DAYS(CURDATE()) - TO_DAYS(a.create_time) = 1)
                   AS yesterdayAddTotal,
               (
                   SELECT TRUNCATE
                              (SUM(a.total) / (TO_DAYS(CURDATE()) - TO_DAYS(MIN(a.createTime))), 2)
                   FROM (
                            SELECT COUNT(1)           AS total,
                                   MIN(a.create_time) AS createTime
                            FROM sys_user a
                            GROUP BY DATE_FORMAT(a.create_time, '%Y%m%d')) a
               )   AS dailyAddTotal,
               (
                   SELECT COUNT(1)
                   FROM sys_user a
                   WHERE TO_DAYS(
                                 CURDATE()) - TO_DAYS(a.update_time) = 1
                     AND a.del_flag = TRUE
               )   AS yesterdayDeleteTotal,
               (
                   SELECT TRUNCATE
                              (SUM(a.total) / (TO_DAYS(CURDATE()) - TO_DAYS(MIN(a.createTime))), 2)
                   FROM (
                            SELECT COUNT(1)           AS total,
                                   MIN(a.create_time) AS createTime
                            FROM sys_user a
                            WHERE a.del_flag = TRUE
                            GROUP BY DATE_FORMAT(a.update_time, '%Y%m%d')) a
               )   AS dailyDeleteTotal
    </select>

    <!-- 流量占用情况 -->
    <select id="trafficUsage" resultType="com.admin.system.model.vo.SystemAnalyzeTrafficUsageVO">
        SELECT COUNT(1) AS total,
               a.category
        FROM sys_request a
        GROUP BY a.category
    </select>

</mapper>
