<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.admin.user.mapper.UserInfoMapper">

    <!-- 用户基本信息 -->
    <select id="baseInfo" resultType="com.admin.user.model.vo.UserBaseInfoVO">
        SELECT a.avatar_url,
               a.nickname,
               a.personal_statement,
               b.email,
               b.phone,
               IF
                   (b.`password` = '', 0, 1) AS password_flag
        FROM sys_user_info a
                 LEFT JOIN sys_user_login b ON b.user_id = a.user_id
        WHERE a.user_id = #{userId}
    </select>

</mapper>
