<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.admin.websocket.mapper.SysWebSocketMapper">

    <!-- 分页排序查询 -->
    <select id="myPage" resultType="com.admin.websocket.model.vo.SysWebSocketPageVO">
        SELECT a.id AS id,
        a.create_id AS createId,
        a.create_time AS createTime,
        a.region AS region,
        a.ip AS ip,
        a.browser AS browser,
        a.os AS os,
        a.mobile_flag AS mobileFlag,
        a.type AS type,
        a.server AS server,
        a.category AS category
        FROM sys_web_socket a
        WHERE a.del_flag = FALSE
        <if test="dto.id != null and dto.id != ''">
            AND a.id = #{dto.id}
        </if>
        <if test="dto.createId != null">
            AND a.create_id = #{dto.createId}
        </if>
        <if test="dto.region != null and dto.region != ''">
            AND a.region LIKE CONCAT('%', #{dto.region}, '%')
        </if>
        <if test="dto.ip != null and dto.ip != ''">
            AND a.ip LIKE CONCAT('%', #{dto.ip}, '%')
        </if>
        <if test="dto.browser != null and dto.browser != ''">
            AND a.browser LIKE CONCAT('%', #{dto.browser}, '%')
        </if>
        <if test="dto.os != null and dto.os != ''">
            AND a.os LIKE CONCAT('%', #{dto.os}, '%')
        </if>
        <if test="dto.server != null and dto.server != ''">
            AND a.server LIKE CONCAT('%', #{dto.server}, '%')
        </if>
        <if test="dto.mobileFlag != null">
            AND a.mobile_flag = #{dto.mobileFlag}
        </if>
        <if test="dto.type != null">
            AND a.type = #{dto.type}
        </if>
        <if test="dto.enableFlag != null">
            AND a.enable_flag = #{dto.enableFlag}
        </if>
        <if test="dto.category != null">
            AND a.category = #{dto.category}
        </if>
    </select>

</mapper>
