<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.admin.request.mapper.SysRequestMapper">

    <!-- 分页排序查询 -->
    <select id="myPage" resultType="com.admin.request.model.vo.SysRequestPageVO">
        SELECT a.id AS id,
        a.create_id AS createId,
        a.create_time AS createTime,
        a.uri AS uri,
        a.time_str AS timeStr,
        a.name AS name,
        a.time_number AS timeNumber,
        a.category AS category,
        a.region AS region,
        a.ip AS ip,
        IF(b.nickname IS NULL, IF(a.user_id = #{adminId} , #{adminNickname} , '-') , b.nickname) AS userName
        FROM sys_request a
        LEFT JOIN sys_user b ON b.id = a.create_id
        <where>
            <if test="dto.uri != null and dto.uri != ''">
                AND a.uri LIKE concat('%', #{dto.uri}, '%')
            </if>
            <if test="dto.name != null and dto.name != ''">
                AND a.name LIKE concat('%', #{dto.name}, '%')
            </if>
            <if test="dto.timeStr != null and dto.timeStr != ''">
                AND a.time_str LIKE concat('%', #{dto.timeStr}, '%')
            </if>
            <if test="dto.ip != null and dto.ip != ''">
                AND a.ip LIKE concat('%', #{dto.ip}, '%')
            </if>
            <if test="dto.region != null and dto.region != ''">
                AND a.region LIKE concat('%', #{dto.region}, '%')
            </if>
            <if test="dto.beginTimeNumber != null">
                AND a.time_number <![CDATA[>=]]> #{dto.beginTimeNumber}
            </if>
            <if test="dto.endTimeNumber != null">
                AND a.time_number <![CDATA[<=]]> #{dto.endTimeNumber}
            </if>
            <if test="dto.beginCreateTime != null">
                AND a.create_time <![CDATA[>=]]> #{dto.beginCreateTime}
            </if>
            <if test="dto.endCreateTime != null">
                AND a.create_time <![CDATA[<=]]> #{dto.endCreateTime}
            </if>
            <if test="dto.createId != null and dto.createId != ''">
                AND a.create_id = #{dto.createId}
            </if>
            <if test="dto.category != null">
                AND a.category = #{dto.category}
            </if>
        </where>
        ORDER BY a.create_time DESC
    </select>

    <!-- 所有请求的平均耗时 -->
    <select id="allAvg" resultType="com.admin.request.model.vo.SysRequestAllAvgVO">
        SELECT COUNT(1)                          AS count,
               (SUM(a.time_number) DIV COUNT(1)) AS avg
        FROM sys_request a
    </select>

</mapper>
